$content-width: 1020px;
$breakpoint: 60em;
$nav-height: 70px;

$gray: #333335;
$lightGray: #EEEEEE;
$brightBlue: #2490bf;
$medBlue: #1286b7;
$mutedBlue: #247ba0;
$darkBlue: #044763;

$sans: 'Didact Gothic', Helvetica, sans-serif;
$serif: 'Patua One', 'Times New Roman', Times, serif;

$menuWidth: 135px;

