*{
    margin: 0 auto;
    box-sizing: border-box;
}
body { 
    font-size: 18px; 
    line-height: 32px;
    font-family: 'Quicksand', Helvetica, sans-serif;
}
h1 {
    color: #015249;
    font-family: 'Merriweather', 'Times New Roman', Times, serif;
    margin: 0 auto;
    text-align: center;
    padding: 40px;
}
h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', 'Times New Roman', Times, serif;
}
h2 {
    padding-bottom: 10px;
}
div.cards {
    padding: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    background-color: #D8F9E9;
    width: 95%;
    box-shadow: 0px 0px 20px #015249;
}
section {
    background-color: #015249;
    color: #FFFFFF;
    width: 100%;
    padding: 20px;
}
section img {
    width: 100%;
    padding: 10px;
}
footer {
    text-align: center;
    margin: 20px;
}

@media only screen and (min-width: 37.5em) {
    div.cards {
        grid-template-columns: 1fr 1fr;
    }
}



@media only screen and (min-width: 60em) {
    div.cards {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
}