/* --------------------------------------------- */
/* --------- Page Formatting ----------- */
/* --------------------------------------------- */
*{
    margin: 0 auto;
    box-sizing: border-box;
}

body {  
    font-family: 'Quicksand', Helvetica, sans-serif;
    font-weight: bold;
    color: #2e3332;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', 'Times New Roman', Times, serif;
}

/* Non-Navigational Link Styles */
a {
	text-decoration: none;
}
a:link{
	color: #218681;
}
a:visited{
	color: #218681;
}
a:hover{
	color: #58B09C;
}
a:active{
	color: #58B09C;
}

/* --------------------------------------------- */
/* --------- Header Formatting ----------- */
/* --------------------------------------------- */
header {
    text-align: center;
}
h1 {
    color: #333335;
}
#headerContainer {
    display: flex;
    flex-direction: column;
}
#seidsymbol {
    display: none;
}

/* ----- Logo/Tagline Formatting ----- */
header img {
    margin: 0 auto;
    padding: 5px;
    width: 75%;
}

#siteTitle {
    display: none;
}
#tagline span {
    white-space: pre;
}
/* ----- Main Nav Formatting ----- */
nav {
    font-family: 'Quicksand', Helvetica, sans-serif;
    font-size: 1.35em;
}
.navigation {
    list-style: none;
    text-align: center;
    padding: 15px 0 0 0;
}
.navigation li:first-child {
    display: block;
    border-top: 3px solid #636366;
}
.navigation li {
    display: none;
    background-color: #015249;
    border-bottom: 3px solid #636366;
    height: 45px;
    width: 100%;
    padding: 6px;
}
.responsive li {
    display: block;
}
.navigation a {
    text-decoration: none;
}


/* ----- Link Styling ----- */
#activelink {
    color: #333335;
    background-color: #d8f9e9;
}

nav a:link {
    color: #D8F9E9;
}
nav a:visited {
    color: #D8F9E9;
}
nav a:hover {
    color: #FFFFFF;
}
nav li:hover {
    color: #FFFFFF;
    background-color: #333335;
}
nav a:active {
    color: #FFFFFF;
}


/* --------------------------------------------- */
/* --------- Preston Page Main Content Formatting ----------- */
/* --------------------------------------------- */
main {
    max-width: 1020px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}
main div {
    background-color: #d8f9e9;
    padding: 5px;
    margin: 10px;
    border: 2px solid #636366;
}


/* --------------------------------------------- */
/* --------- Footer Formatting ----------- */
/* --------------------------------------------- */
footer {
    font-size: 16px;
    text-align: center;
    background-color: #015249;
    color: #D8F9E9;
    padding: 15px;
}
footer a {
    color: #D8F9E9;
    text-decoration: underline;
}
footer a:link {
    color: #D8F9E9;
    text-decoration: underline;
}
footer a:visited{
	color: #D8F9E9;
}
footer a:hover{
	color: #FFFFFF;
}
footer a:active{
	color: #FFFFFF;
}
