/* --------------------------------------------- */
/* ---------Desktop View Formatting ----------- */
/* --------------------------------------------- */
@media only screen and (min-width: 60em) {
    main {
		grid-template-columns: 1fr 1fr 1fr;
    }
    section:nth-child(3) {
		grid-column: span 1;
    }
    header, main, footer {
        margin: 1.25rem auto;
        padding: 1em;
        max-width: 900px;
    }


    /* --------------------------------------------- */
    /* --------- Page Formatting ----------- */
    /* --------------------------------------------- */


    /* Non-Navigational Link Styles */


    /* --------------------------------------------- */
    /* --------- Header Formatting ----------- */
    /* --------------------------------------------- */


    /* ----- Main Nav Formatting ----- */


    /* ----- Link Styling ----- */


    /* --------------------------------------------- */
    /* --------- Home Page Main Content Formatting ----------- */
    /* --------------------------------------------- */




    /* --------------------------------------------- */
    /* --------- Target Audience Page Formatting ----------- */
    /* --------------------------------------------- */



    /* --------------------------------------------- */
    /* --------- Color Scheme Page Formatting ----------- */
    /* --------------------------------------------- */



    /* --------------------------------------------- */
    /* --------- Typography Page Formatting ----------- */
    /* --------------------------------------------- */



    /* --------------------------------------------- */
    /* --------- Site Map Page Formatting ----------- */
    /* --------------------------------------------- */



    /* --------------------------------------------- */
    /* --------- Footer Formatting ----------- */
    /* --------------------------------------------- */


  }